@charset "UTF-8";

body {
    background-color: rgba(169, 169, 169, 0.205);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
   color: grey;
}
h1#principal {
    text-align: center;
    background-color: grey;
    color: rgb(255, 144, 104);
}
h2 {
    color: rgba(255, 127, 80, 0.664);
}
.basico {
    color: rgba(255, 160, 126, 0.555);
}
.intermediario {
    color: rgba(255, 121, 72, 0.733);;
}
.avancado {
    color: rgb(253, 97, 41);;
}